@import '../../sass/variables.scss';

.rating {
    display: flex;
    gap: 0.7rem;

    .rated {
        color: $mainKasa;
        font-size: 1.5rem;
    }

    .unrated {
        color: rgba(227, 227, 227, 1);
        font-size: 1.5rem;
    }
}