@import '../../sass/variables.scss';

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;

    .error-title {
        font-size: 16rem;
        color: $mainKasa;
    }

    .error-subtitle {
        font-size: 2.25rem;
        color: $mainKasa;
        font-weight: 500;
        padding-bottom: 7rem;
    }

    .error-link {
        font-size: 1.1rem;
        text-decoration: underline;
        font-weight: 500;
    }
}