.nav-container {
    position: relative;
    width: 100%;
    padding: 1.25rem;
}

.nav {
    display: flex;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    flex-wrap: nowrap;
    transform: translateY(-50%);

    &-active {
        text-decoration: underline;
    }

    &-link {
        text-decoration: none;
    }
}

.nav-logo {
    width: auto;
    height: 3.8rem;
}

.nav-link,
.nav-active {
    margin-left: 3.5rem;
    font-size: 1.5rem;
    text-transform: capitalize;

}